* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: iransans;
  src: url("/fonts/IRANSansWeb.ttf") format("truetype"),
    url("/fonts/IRANSansWeb.woff") format("woff");
}

body {
  direction: rtl;
  font-size: 14px;
  text-align: right;
  color: #303030;
  line-height: 30px;
  font-family: iransans;
}

.container {
  width: 1300px;
  margin: 0 auto;
}
ul {
  list-style: none;
}
a {
  transition: all 0.5s ease;
  text-decoration: none;
  color: inherit;
}

.top-menu {
  width: 100%;
  float: right;
  background-color: #163a5c;
  padding: 10px 0;
  font-size: 13px;
}

.topbar-right {
  float: right;
  width: 50%;
  color: #fff;
}

.topbar-right ul li {
  list-style: none;
  float: right;
  margin-left: 30px;
}
.topbar-right ul li i {
  margin-left: 7px;
  font-size: 16px;
}

.topbar-left {
  float: left;
  width: 50%;
  color: #fff;
}
.topbar-left ul li {
  float: left;
}

.topbar-left ul li i {
  font-size: 18px;
  padding: 10px 15px;
}

/* ==================== header */
.header {
  width: 100%;
  float: right;
  background-color: #fff;
  box-shadow: 0 1px 6px #e6e6e6;
  height: 81px;
}

.header .logo {
  float: right;
  padding: 17px 0;
}

.header .logo img {
  max-width: 125px;
}

/* ================== menu */

.menu {
  float: right;
}

.menu > ul > li {
  float: right;
  list-style: none;
  position: relative;
}

.menu > ul > li a {
  padding: 26px 22px;
  display: inline-block;
  font-size: 15px;
  text-decoration: none;
  color: #454545;
  font-weight: bold;
}

.menu ul li a i {
  margin-right: 5px;
}

.menu ul li ul {
  position: absolute;
  width: 250px;
  top: 83px;
  right: 0;
  box-shadow: 0 1px 6px #e6e6e6;
  opacity: 0;
  visibility: hidden;
  top: 115px;
  transition: all 0.2s ease-out;
  z-index: 999;
}

.menu > ul > li:hover > ul {
  opacity: 1;
  top: 83px;
  visibility: visible;
  background: #fff;
}

.menu ul li ul li a {
  padding: 8px 15px;
  display: block;
  font-weight: normal;
}
.menu ul li ul li a:hover {
  color: #fff;
  background-color: #5caf21;
}
.sign-btn {
  float: left;
  padding: 15px 0;
}

.sign-btn a {
  background-color: #5caf21;
  color: #fff;
  padding: 10px 20px;
  display: inline-block;
  border-radius: 5px;
}

.sign-btn a i {
  font-size: 18px;
  margin-left: 7px;
}

.sign-btn a:hover {
  background-color: #7f8c8d;
}
/* -------------------------------- sloder */

.slider {
  float: right;
  width: 100%;
  direction: ltr;
}
.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev {
  position: absolute;
  top: 33%;
  font-size: 60px;
  padding: 15px !important;
  background-color: #ddd;
  opacity: 70%;
}
.owl-carousel .owl-nav button.owl-next {
  right: 0;
}

.owl-carousel .owl-nav button.owl-prev {
  left: 0;
}

.line {
  width: 100%;
  height: 2px;
  float: right;
  background: #b6b6b6;
  margin: 35px 0;
  margin-bottom: 70px;
}

/* ---------------------- TV */

.tv {
  display: block;
}
.tv-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tv-link a {
  border: 2px solid #5caf21;
  color: #5caf21;
  padding: 5px 15px;
  display: inline-block;
  border-radius: 5px;
}

.tv-link a:hover {
  color: #fff;
  background-color: #5caf21;
}

.tv-header .tv-title h2 {
  font-size: 23px;
}

.tv-header .tv-title h5 {
  font-size: 15px;
  color: #5d5d5d78;
}

.tv-box {
  margin-top: 30px;
  float: right;
  width: 100%;
}

.tv-right {
  float: right;
  width: 60%;
}

.first-post {
  position: relative;
}

.first-post figure img {
  max-width: 100%;
}

.first-post figure i {
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 100px;
  color: #fff;
  transition: all 0.1s ease-in;
}

.first-post:hover figure i {
  font-size: 115px;
  filter: drop-shadow(0 0 5px #fff);
}

.tv-left {
  float: left;
  width: 39%;
}

.tv-left .second-post {
  float: right;
  width: 46%;
}

.tv-left .second-post figure {
  position: relative;
  background-color: #e8e9e9;
  padding: 5px;
  border-radius: 3px;
  line-height: 32px;
  margin: 0 10px 20px 0;
}

.tv-left .second-post figure img {
  max-width: 100%;
}

.tv-left .second-post figure i {
  transform: translate(-50%, -50%);
  position: absolute;
  top: 40%;
  left: 50%;
  font-size: 30px;
  color: #fff;
  transition: all 0.1s ease-in;
}
.tv-left .second-post:hover figure i {
  font-size: 40px;
  filter: drop-shadow(0 0 5px #fff);
}

.tv-left .second-post figure h2 {
  font-size: 16px;
  text-align: center;
}

.more-tv {
  float: right;
  width: 100%;
  text-align: center;
  font-size: 16px;
  padding: 5px;
  border-radius: 5px;
  background-color: #5caf21;
  color: #fff;
  cursor: pointer;
}
.more-tv:hover {
  background-color: #718c8d;
}
/* ==================article */
.article {
  display: block;
}
.article-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.article-link a {
  border: 2px solid #5caf21;
  color: #5caf21;
  padding: 5px 15px;
  display: inline-block;
  border-radius: 5px;
}

.article-link a:hover {
  color: #fff;
  background-color: #5caf21;
}

.article-header .article-title h2 {
  font-size: 23px;
}

.article-header .article-title h5 {
  font-size: 15px;
  color: #5d5d5d78;
}

.article-slider {
  direction: ltr;
  float: right;
  width: 100%;
  margin-top: 25px;
}

.article-box {
  border: 1px solid #ccc;
}

.article-box h2 {
  font-size: 16px;
  text-align: center;
  padding: 15px 10px;
}

.article-box a {
  color: #313131;
  font-weight: bolder;
  display: block;
}
.article-box p {
  color: #777;
  padding: 0 12px;
}
.article-box .btn-more {
  background-color: #e6e6e6;
  display: block;
  color: #000;
  text-align: center;
  transition: all 0.2s ease-in-out;
  padding: 4px;
  margin-top: 20px;
}

.article-box .btn-more:hover {
  color: #fff;
  background: #5caf21;
}

.article .owl-carousel .owl-nav button.owl-next,
.article .owl-carousel .owl-nav button.owl-prev {
  font-size: 50px;
  width: 50px;
  padding: 11px 10px !important;
  opacity: 1;
  color: #afafaf;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 0 06px #ddd;
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s ease-in-out;
}

.article .owl-carousel .owl-nav button.owl-next {
  right: -25px;
}

.article .owl-carousel .owl-nav button.owl-prev {
  left: -25px;
}

.article .owl-carousel:hover .owl-nav button.owl-next,
.article .owl-carousel:hover .owl-nav button.owl-prev {
  opacity: 1;
  visibility: visible;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background: #5caf21;
  width: 20px;
  transition: all 0.2s ease-in-out;
}

/* =======================adv */
.addv {
  float: right;
  width: 100%;
  margin-top: 25px;
  background: linear-gradient(to right, #00d2ff, #3a7bd5);
}

.addv .addv-right {
  float: right;
  width: 48%;
  padding-top: 45px;
  color: #fff;
}

.addv .addv-right a {
  background: linear-gradient(to left, #fc4a1a, #fd8c14);
  padding: 10px 20px;
  display: inline-block;
  font-size: 16px;
  color: #fff;
  border-radius: 5px;
  margin-top: 40px;
  font-weight: bold;
}

.addv .addv-right a:hover {
  background: linear-gradient(to right, #fc4a1a, #fd8c14);
}

.addv .addv-right h2 {
  font-size: 24px;
}

.addv .addv-right p {
  padding: 25px 0 0 0;
  line-height: 39px;
  font-size: 16px;
  color: #d0ebff;
}

.addv .addv-left {
  float: left;
  width: 40%;
}

.addv .addv-left figure img {
  object-fit: cover;
}
/* =====================tutorial */

#tutorial-slider {
  direction: ltr;
}

.tutorial {
  display: block;
}
.tutorial-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tutorial-link a {
  border: 2px solid #5caf21;
  color: #5caf21;
  padding: 5px 15px;
  display: inline-block;
  border-radius: 5px;
}

.tutorial-link a:hover {
  color: #fff;
  background-color: #5caf21;
}

.tutorial-header .tutorial-title h2 {
  font-size: 23px;
}

.tutorial-header .tutorial-title h5 {
  font-size: 15px;
  color: #5d5d5d78;
}

.tutorial-slider {
  direction: ltr;
  float: right;
  width: 100%;
  margin-top: 25px;
}

.tutorial-box {
  border: 1px solid #ccc;
}

.tutorial-box h2 {
  font-size: 16px;
  text-align: right;
  padding: 15px 10px;
}

.tutorial-box a {
  color: #313131;
  font-weight: bolder;
  display: block;
}
.tutorial-box .desc {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 12px;
  border-bottom: 1px solid #ddd;
}

.tutorial-box .desc .rate i {
  color: #f9a134;
  font-size: 16px;
}
.tutorial-box .desc .teacher {
  color: #858585;
  font-size: 14px;
}
.tutorial-box .desc .teacher i {
  font-size: 18px;
}
.tutorial-box .btn-more {
  background-color: #e6e6e6;
  display: block;
  color: #000;
  text-align: center;
  transition: all 0.2s ease-in-out;
  padding: 4px;
  margin-top: 20px;
}

.tutorial-box .btn-more:hover {
  color: #fff;
  background: #5caf21;
}

.tutorial .owl-carousel .owl-nav button.owl-next,
.tutorial .owl-carousel .owl-nav button.owl-prev {
  font-size: 50px;
  width: 50px;
  padding: 11px 10px !important;
  opacity: 1;
  color: #afafaf;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 0 06px #ddd;
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s ease-in-out;
}

.tutorial .owl-carousel .owl-nav button.owl-next {
  right: -25px;
}

.tutorial .owl-carousel .owl-nav button.owl-prev {
  left: -25px;
}

.tutorial .owl-carousel:hover .owl-nav button.owl-next,
.tutorial .owl-carousel:hover .owl-nav button.owl-prev {
  opacity: 1;
  visibility: visible;
}

.tutorial-box .deitail {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 12px;
  color: #858585;
}

.tutorial-box .deitail .price ins {
  background: #29ca4a;
  color: #fff;
  text-decoration: none;
  padding: 2px 12px 0;
  border-radius: 3px;
}
.tutorial-box .deitail .users {
  display: flex;
  align-items: center;
}
.tutorial-box .deitail .users i {
  font-size: 18px;
  color: #fff;
  text-shadow: 0px 0px 5px #000;
  margin-right: 5px;
}

/* =============fpter */

footer {
  background-color: #f5f6fa;
  float: right;
  width: 100%;
  padding-top: 50px;
}

footer .about {
  float: right;
  width: 33%;
  margin-left: 55px;
}

footer h3 {
  font-size: 20px;
  margin-bottom: 22px;
  border-bottom: 2px solid #5caf21;
  padding-bottom: 15px;
}
footer .about p {
  margin-bottom: 22px;
  color: #4a4a4a;
  text-align: justify;
}

footer .f-menu {
  float: right;
  width: 31%;
}
footer .f-menu a:hover {
  font-size: 18px;
  color: #29ca4a;
  margin-right: 2px;
}
footer .f-menu {
}

.clear {
  clear: both;
}

.contact {
  float: right;
  margin-right: 50px;
}

.copy-right{
  background: #163a5c;

}

.copy-right .container{
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 18px;
  color: #fff;
} 

.copy-right .socials{
  display: flex;
  justify-content: space-around;
  width: 30%;
  font-size: 25px;
  color: #718c8d;
}

.copy-right .socials i:hover{
  color: #fff;
}